$bg-color: yellow;
$border-color: red;

.app {
  padding: 100px;
  font-family: helvetica, arial, sans-serif;
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
